$darkGray: #3F464D;
$indigo: #4D56C8;
$havelockBlue: #626DDB;
$catskillWhite: #F1F3F8;
$white: #fff;
$raven: #787F88;
$athensGray: #EBEEF3;
$mako: #424649;


// Задаем цвета UI элементов
// цвет сайдбара
$dashboardColor: $darkGray;

// цвет логотипа
$logotypeColor: $catskillWhite;

// цвет текста элементов меню
$navColor: $raven;

// цвет фона
$bodyColor: $raven;



