<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/kamkabel_logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a class="js-arrow" href="/admin">
                        <i class="fas fa-tachometer-alt"></i>Обзор</a>
                </li>
                <li>
                    <a href="/users">
                        <i class="fas fa-users"></i>Пользователи</a>
                </li>
                <li>
                    <a href="/info">
                        <i class="fas fa-table"></i>Текстовая информация</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Рассылка</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="login.html">Отправить сообщение всем</a>
                        </li>
                        <li>
                            <a href="register.html">Отправить сообщение человеку</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->